

/* dropdown */

.menu{
    background:#111;
    border:1px solid #333;
    position:absolute;
    right:10px;
    top:50px;
    border-radius:8px;
    width:200px;
    padding:16px;
    display:flex;
    flex-direction:column;
    gap:6px;
     animation: enter 0.3s ease;
}

.menu-card{
    padding:6px;
    display:flex;
    gap:6px;
    border-radius:6px;
    cursor:pointer;
    border:1px solid #333;
    transition:.25s;
   
}

.menu-card:hover{
    color:var(--accent);
}

/* HOMEPAGE LAYOUT*/

.homepage{
    padding-top:20px;
    max-width:1400px;
    margin:auto;
}

/*COMIC GRID*/
.comic-cards{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:20px;
    padding: 60px;
}

/*COMIC CARDS STYLING*/

.comic-card{
    background:#1a1a1a;
    border:1px solid #333;
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
    transition:.25s;
    position: relative;
}

.comic-card .dots{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin-right: 4px;
    flex-direction: column;
    transform: rotate(90deg);
    margin-top: 8px;
    border-radius: 24px;
    padding: 4px;cursor: pointer;
}

.dots:hover{
    background: #303030;
}

.reader-page{
    z-index: 5;
}

.comic-card:hover{
    transform: translateY(-4px);
    border-color: #585885;
}

/* top image */

.comic-card .top{
    height:180px;
    background:#000;
    display:flex;
    align-items:center;
    font-size: 3em;
    justify-content:center;
}

.context{
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    background: #1d1d1d;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    gap: 4px;
    border-radius: 8px;
    animation: enter 0.3s ease;
}

.context button{
    padding: 4px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    border: 2px solid transparent;
}

.context button:hover{
    text-decoration: underline;
}

/* bottom info */

.comic-card .bottom{
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:4px;
}

.comic-card .genre{
    font-size:.8rem;
    color:#aaa;
}

.profile-card{
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-card:hover{
    border-color: #cacaca;
}

/*ANIMATOIN*/

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/*Responsiveness*/

@media (max-width:800px){

    .homepage{
        padding-top: 60px;
    }
.App-header{
    flex-wrap:wrap;
    gap:10px;
}

.search input{
    width:170px;
}

.tabs-n-filters{
    width:100%;
}

}

@media (max-width: 600px){
    .homepage{
        padding-top: 80px;
    }

    .comic-cards{
        margin-top: -120px;
    }
}
/*ACTIVE FILTER STYLING APA*/