.login-page{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.login-page form{
    padding: 32px;
    border-radius: 32px;
    background:linear-gradient(360deg, hsl(210, 14%, 3%) 0%, #1a1d23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #cacaca;
    width: 450px;
    align-items: center;
    gap: 10px;
    animation: enter 0.4s ease forwards;
}

.note{
    padding: 8px;
    width: 300px;
    border-radius: 8px;
    animation: slide 0.3s ease forwards;
}

@keyframes enter{from{opacity: 0; transform: translateY(20px);}
to{opacity: 1; transform: translateY(0px);}}

@keyframes slide{from{opacity: 0; transform: translateX(20px);}
to{opacity: 1; transform: translateX(0px);}}

.login-page h2{
    cursor: pointer;
}

.login-page h2 span{
    color: var(--accent);
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    font-weight: 500;
}

input[type="email"],input[type="password"],input[type="text"]{
    padding: 8px;
    width: 300px;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

input{
    transition: all 0.3s ease;
}

input:focus{
outline: none;
border-color: var(--accent);
}

.login-page .show{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.lower{
    margin-top: 20px;
}

.login-page form button{
    width: 300px;
    margin-top: 10px;
    border-radius: 16px;
    border: none;
    color: #111;
    background: var(--accent);
}

.login-page form .lower span{
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
}