.downloads-page, .settings-page,.community-page, .reader-page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

